@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

$primary_color: teal;
$secondary_color: rgb(46, 45, 45);
$primary_text_color: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    background-color: $secondary_color;
    font-family: 'Inter', sans-serif;
  }

  main {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  h1 {
    color: $primary_text_color;
  }